html {
  box-sizing: border-box;
  font-size: 62.5%; /* Set font to 1rem = 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


body {
  font-size: 1.6rem;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.adnotation {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 300px;
  background-color: #fdf800;
  border: 2px solid black;
  font-family: Arial;
  padding: 5px;
}